@page "/table"
@attribute [TabItemOption(Text = "Table")]
<PageTitle>Table</PageTitle>
<Table TItem="Foo" class="table-demo"
       IsPagination="true" PageItemsSource="PageItemsSource"
       IsStriped="true" IsBordered="true" ShowSkeleton="true" SortString="Id"
       IsFixedHeader="true" AllowResizing="true" AllowDragColumn="true" ColumnMinWidth="100"
       IsMultipleSelect="true" FixedMultipleColumn="true"
       ShowToolbar="true" ShowColumnList="true" ShowDefaultButtons="false" 
       ShowSearch="true"
       ShowAdvancedSearch="true"
       ShowExtendButtons="true" FixedExtendButtonsColumn="true" ExtendButtonColumnWidth="120">
    <TableColumns>
        <TableColumn @bind-Field="@context.Id" Text="Id" Width="60" Fixed="true"/>
        <TableColumn @bind-Field="@context.Name" Text="姓名" Width="50" Fixed="true" />
        <TableColumn @bind-Field="@context.DateTime" Text="日期" Width="120" FormatString="d" Sortable="true" Filterable="true"/>
        <TableColumn @bind-Field="@context.Count" Text="数量" Width="80" Sortable="true" Filterable="true" />
        <TableColumn @bind-Field="@context.Complete" Text="是否" Width="60" Sortable="true" Filterable="true" />
@*         <TableColumn @bind-Field="@context.Count" Text="数量-9" Width="80" />
        <TableColumn @bind-Field="@context.Complete" Text="是否-9" Width="60" Sortable="true" />
   
        <TableColumn @bind-Field="@context.Education" Text="学历" Width="100" />
        <TableColumn @bind-Field="@context.Hobby" Text="爱好" Items="GetHobbys(context)" Width="180" Sortable="true" Filterable="true" />
        <TableColumn @bind-Field="@context.Name" Text="姓名-2" Width="100" />
        <TableColumn @bind-Field="@context.DateTime" Text="日期-2" Width="120" FormatString="d" Sortable="true" Filterable="true" />
        <TableColumn @bind-Field="@context.Count" Text="数量-2" Width="80" />
        <TableColumn @bind-Field="@context.Complete" Text="是否-2" Width="60" Sortable="true" />
        <TableColumn @bind-Field="@context.Education" Text="学历-2" Width="100"  Sortable="true"/>
        <TableColumn @bind-Field="@context.Hobby" Text="爱好-2" Items="GetHobbys(context)" Width="180" />
        <TableColumn @bind-Field="@context.Name" Text="姓名-3" Width="100" />
        <TableColumn @bind-Field="@context.DateTime" Text="日期-3" Width="120" FormatString="d" />
        <TableColumn @bind-Field="@context.Count" Text="数量-3" Width="80" />
        <TableColumn @bind-Field="@context.Complete" Text="是否-3" Width="60" />
        <TableColumn @bind-Field="@context.Education" Text="学历-3" Width="100" />
        <TableColumn @bind-Field="@context.Hobby" Text="爱好-3" Items="GetHobbys(context)" Width="180" /> *@
    </TableColumns>
</Table>
